<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Legs Training</title>
</head>
<body>
    <h1>T1-LEGs</h1>
</body>
</html>